header{
    height: 100px;
    nav{
        .liste_nav{
            ul{
                list-style: none;
                li{
                    a{
                        color: white;
                        
                    }
                }
                
            }
        }
    }
}